<html>
	<head>
		<title> Django blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Blog</h1>
			<!--{{post}} -->
		</div>

		{% for post in posts %}
		<div>
			<p> published:{{ post.published_date }}</p>
			<h2><a href="">{{ post.title }}</a></h2>
			<p> {{ post.text|linebreaksbr }}</p>
		</div>
		{%endfor%}

		<!--

		<div>
			<p> Publish: 30.07.2016, 09:13hrs</p>
			<h2><a href="">My second post</h2>
			<p> OOjojojoj oj ojj o j jo jo o </p>

		</div>

		-->

		<p> Hi there! </p>
		<p> It Works! </p>
	</body>
</html>